---
 const personalImageAlt = "Cinthia Barrientos"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-pink-500 dark:[&>p>strong]:text-pink-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis blanditiis officia possimus magni distinctio est temporibus explicabo facilis fugit quis!<strong
        >Lorem ipsum dolor sit amet.</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quod unde aut eveniet modi rerum?</strong
      >. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, itaque.
    </p>

    <p>
      Lorem, ipsum. <strong
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, nemo? <em class="italic">lorem lorem</em> lorem relomre</strong
      >. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, inventore!
    </p>
  </div>

  <img width="200" height="200" src="https://scontent.faep28-1.fna.fbcdn.net/v/t1.6435-9/116282513_10217806627057117_3985256309827782476_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=be3454&_nc_eui2=AeGe0zaivubMZ_jdW5NAt4TIfKarC0Mz7Ld8pqsLQzPstxXi4XSkq_d00xzwvKgK795ZVAeFQPMaeup8PFNgXSh1&_nc_ohc=vYl-wJfe2I8AX-nYAW8&_nc_ht=scontent.faep28-1.fna&oh=00_AfBCHbJwN2WlnqbEfPpwypGE4wB3jZpd2sODoMQ2uo0GrA&oe=65F1BC9C" alt="{personalImageAlt}" class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-pink-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>
